.cooperation-wrap {
  border-radius: 4px;
  margin: 36px 0;
}

.button-cooperate {
  background-color: #ff4b4b;
  border: none;
  border-radius: 4px;
}

.button-cooperate:hover {
  background-color: #f08b8b;
}

.title {
  font-size: 16px;
}

@media screen and (max-width: 320px) {
  .title {
    font-size: 14px;
  }
}
