.footer-cart-wrap {
  background-color: #fff;
  box-shadow: -1px 0px 10px -1px rgba(0, 0, 0, 0.24);
}

.button-popup-discount-code {
  background-color: #ee202e;
  border: none;
}

.button-popup-discount-code:hover {
  background-color: #ba5960;
}
